/* Stilizare specifică pentru pagină */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.event-container h2 {
    margin-bottom: 5px;
}

.event-container p {
    margin-bottom: 10px;
}

.event-container a, .event-container form {
    display: inline-block;
    margin-right: 10px;
}

.event-container form button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Stilizare Bootstrap */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
